*{
    margin: 0;
    padding: 0;
}

            /*------- section navbar -------*/
.header{
    background-image: url(../img-pro3/black-men.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 200px;
}
.navbar{
    padding: 19px 10%;
}
.navbar .logo{
    color: rgb(255, 221, 0);
    text-decoration: none;
    font-family: 'Sedgwick Ave Display', cursive;
}
.navbar .nav-item .nav-link{
  color: white;
}
.navbar .nav-item .nav-link:hover{
  color: rgb(255, 221, 0);
}
.txt-1{
    margin-top: 200px;
    color: #ffffff;
}
.txt-2{
    color: #fff;
    font-size: 77px;
}
.button a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 221, 0);
}

            /*------- section service -------*/
#services .card-img-top{
    width: 170px;
}


            /*------- section portfolio -------*/
#portfolio{
    background-color: rgba(128, 128, 128, 0.148);
}
.card a{
  position: relative;
}
.card a:hover::after {
  content:'';
  position:absolute;
  left:0; 
  top:0;
  height: 265px;
  width: 355px;
  display: block;
  background-color: rgba(255, 166, 0, 0.879);
}
.card a .card-img-top{
  display:block;
  height: 265px;
  width: 100%;
}
.fa-plus{
  position: absolute;
  top: 40%;
  left: 50%;
  right: 0;
  bottom: 0;
  color: white;
}
.title{
    text-align: center;
    margin: 70px auto 0;
}
.title p{
    font-size: 70px;
}


/* The actual timeline (la ligne verticale) */
.main-timeline {
    position: relative;
  }
  
  /* The actual timeline (la ligne verticale) */
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 1px;
    height: auto;
    background-color: #e2e2e2;
    top: 1.30%;
    bottom: 0;
    left: 50%;
  }
  
  /* Container autour du contenu */
  .timeline {
    position: relative;
    width: 33%;
  }
  
  /* mise en forme élément sur le timeline */
  .timeline::after {
    content: "";
    position: absolute;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .timeline:nth-child(1)::after{
    background-image: url(../img-pro3/about1.jpg);
    right: -51%;
    border: 7px solid #e2e2e2;
    background-size: cover;
    width: 150px;
    height: 150px;
}
.timeline:nth-child(2)::after{
  background-image: url(../img-pro3/about2.jpg);
  left: -42%;
  border: 7px solid #e2e2e2;
  background-size: cover;
  width: 150px;
  height: 150px;
}
.timeline:nth-child(3)::after{
  background-image: url(../img-pro3/about3.jpg);
  right: -51%;
  border: 7px solid #e2e2e2;
  background-size: cover;
  width: 150px;
  height: 150px;
}
.timeline:nth-child(4)::after{
  background-image: url(../img-pro3/about4.jpg);
  left: -42%;
  border: 7px solid #e2e2e2;
  background-size: cover;
  width: 150px;
  height: 150px;
}
  /* Place the container to the left */
  .left {
    padding: 0px 0px 20px 40px;
    left: 7%;
    text-align: right;
  }
  
  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 57%;
  }

  .timeline-image{
    position: relative;
    background-color: orange;
    color: white;
    top: 15px;
    left: 43.50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 19px;
    z-index: 1;
    border: 7px solid #e2e2e2;
    text-align: center;
    align-items: center;
    padding-top: 2vw;
  }
  

                    /*------- section team -------*/
#team .card-img-top{
  border-radius: 50%;
  border: 7px solid #e2e2e2;
  width: 225px;
}
#team .card-icon{
  font-size: 13px;
  color: white;
}
#team .card-icon .fa-brands{
  background-color: black;
  padding: 15px;
  border-radius: 50%;
  margin: 7px;
}
#team .card-icon .fa-brands:hover{
  background-color: rgba(0, 0, 0, 0.685);
  transition: 0.50s;
  cursor: pointer;
}

      /*--- company ---*/
.company img{
  width: 190px;
  height: 50px;
}

                    /*------- section contact -------*/
#contact{
  background-image: url(../img-pro3/word.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 7%;
}

/*----- footer -----*/
footer .footer{
  justify-content: space-around;
  margin: 33px 0;
}
footer .footer .fa-brands{
  margin: 0 12px;
  background-color: black;
  color: white;
  padding: 11px;
  border-radius: 50%;
}
footer .footer .fa-brands:hover{
  background-color: rgba(0, 0, 0, 0.685);
  transition: 0.50s;
  cursor: pointer;
}



